@font-face {
    font-family: Futura;
    src: url('./futura.ttf');
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font-family: Futura;
    text-transform: uppercase;
    font-size: 80%;
}

p,
span,
button {
    user-select: none;
}

button {
    color: white;
    padding: 5px 10px;
    font-family: Futura;
    text-transform: uppercase;
    background: transparent;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
}

#dimension-toggle {
    position: relative;
    display: flex;
    border: 1px solid white;
    margin-top: 1rem;
    z-index: 2;
}

#mask {
    background: white;
    mix-blend-mode: difference;
    position: absolute;
    left: 0%;
    height: 100%;
    width: 50%;
    transition: left 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    pointer-events: none;

    &.switch {
        left: 50%;
    }
}

#content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: 1rem;
}

#controls {
    background: black;
    margin: 2rem;
    margin-top: 0px;
    padding: 1rem;
    width: calc(100% - 6rem);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.control {
    display: flex;
    align-items: center;
    margin: 0px 1rem;
}

#analyze {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 2rem;
    padding: 1rem;
    border: 1px solid white;
    transition: width 0.5s, height 0.5s;
}

#analyze-content:not(.visible) {
    display: none;
}
